h1,h2,h3,h4{
  font-size: 0px;
}
body,html{
padding:0px;
margin:0px;
height:100%;
overflow: hidden;
-webkit-user-select: none;
}
/********************************font*********************************/
@font-face {
   font-family: "OpenSans-Bold";
   src: url("../fonts/open-sans/OpenSans-Bold.ttf");
  
    font-family: "OpenSans-Regular";
   src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

/**************************************************************************************/
#wrapper {

transition: all 0.0s ease 0s;
overflow: hidden;
padding-left: 0;
height:100%;
position:relative;

}
#wrapper {
  
}
#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper.open{left:0px; min-height: 504px;}
.page-content{
  padding-top:60px; height:100%;position: relative;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;}

#sidebar-wrapper {
  left: -250px;
  width: 250px;
  background-color: #0D181F;
  position: absolute;
  height: 100%;

  transition: all 0.0s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  margin-left: 0px;
  overflow: hidden;
  height: 100%;

  position: relative;
  
}

.sidebar-nav {
  position: absolute;
  top: 20px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #dddddd;
  display: block;
  text-decoration: none;
  border-bottom:1px solid #323C46;
  font-family: "OpenSans-Bold";
font-size: 15px;
height:40px;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
   overflow: hidden;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
   margin-top: -20px;
   border-bottom:1px solid #323C46;
   background-color: #1c2733;
   border-right: 1px solid #323C46;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
background-color: #0D181F;

}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
    margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
   overflow: hidden;
     font-size: 20px;
}

.shrink-content{position:absolute;top:0px;left:250px;overflow: hidden;}
#menu-toggle {
  display: inline-block;
}



.shrink-content .page-content{
  pointer-events:none;
}

/**************************************************************************************/

.cohen {padding:0px;}
.cohen .automobiles > div , .automobiles.sub-category-item{border-left: solid  33px  #dc5629;}

.cohen > .row-fluid > div {min-height:87px; box-shadow: 1px 1px 1px #888888;}
.cohen .bat > div  , .bat.sub-category-item{border-left: solid 33px  #e17a25;}
.cohen .elec > div  , .elec.sub-category-item{border-left: solid  33px #f0b31d;}
.cohen .fer-metal > div , .fer-metal.sub-category-item {border-left: solid  33px #278fc6;}
.cohen .non-metal > div  , .non-metal.sub-category-item{border-left: solid  33px  #14a88b;}

/**************************************************************************************/
.sidebar-brand h1{
    font-size: 20px;
    line-height: 60px;
    margin-left: 6px;
    color: #77899e;
    font-weight: bold;
}

.content-header {
  height: 65px;
  line-height: 65px;
  background-color: #1c2733;
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  z-index: 999;
  color:#fff;

}
.subcategories .content-header {
  height: 65px;
  line-height: 65px;
  background-color: #0D181F;
  position: absolute;
  top:0px;
  width: 100%;
  z-index: 999;
  color:#fff;
margin-left: -51px;
}
.detail.content-header {
  height: 65px;
  line-height: 65px;
  background-color: #0D181F;
  position: absolute;
  top:0px;
  width: 100%;
  z-index: 999;
  color:#fff;
margin-left: -51px;
}

.content-header h1 {
  margin: 0;
  margin-left: 10px;
  line-height: 65px;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left:0px;
color: #77899e;
font-weight: bold;

}
#page-content-wrapper h3{
    margin: 0;
  margin-left: 26px;
  line-height:none ;
  display: inline-block;
  font-size: 16px;
  float: left;
  margin-top: -65px;

font-weight: bolder;
}


.inset {
  padding: 20px;
  margin-top: 65px;
  width: 100%;
}

@media (max-width:767px) {



.inset {
  padding: 15px;
}

 
[class*="span"] {  
  float: left;  
  min-height: 1px;  
  margin-left: 0px;  
}  
/**
car*/
.cohen{
  margin-top: 0px;
  overflow-x: hidden;
  box-shadow: 1px 1px 1px #888888;
}

.img-responsive{
  margin-left: -44px;
  padding-top: 15px;
  height: 75px;
}
div.cohen.container-fluid img {
height: 75px;
}
p{
margin: 0 0 10px;
margin-left: 26px;
margin-top: -40px;
margin-bottom: 0px;
font-family: "OpenSans-Regular";
font-size: 15px;
}

.sidebar-nav li a img {margin-right: 15px;}

.panel {padding:1px;
margin-bottom: 0px;
border-radius: 0px;
 height:50px;
border-bottom: solid 1px #ddd;
}


.automobiles > div, .automobiles-active > div {border-left:solid 33px #dc5629;}
.bat > div, .bat-active > div  {border-left: solid  33px  #e17a25;}
.elec>div,.elec-active > div {border-left: solid  33px #f0b31d;}
.fer-metal > div,.fer-metal-active > div {border-left: solid  33px #278fc6;}
.non-metal > div ,.non-metal-active > div {border-left: solid  33px  #14a88b;}

/*for border*/

.panel>.img-responsive{
margin-left: -19px;
padding: 12px;
margin-top: 4px;
height: 40px;
}
.panel h4{
margin-top: -28px;
margin-bottom: 10px;
margin-left: 11px;
font-size: 16px;
font-weight: bold;
}
.panel> .img{
padding-left: 223px;
margin-top: -57px;
}
 h1,h2,h4,h3,h5{
   	font-size: 0px;
   	padding: 0px;
   	margin-top: 0px;
   	margin-bottom: 0px;
   }

.detail >div{
	min-height: 90px;
	background-image: url("../../images/image.png");
	border-bottom: solid 1px black;
	background-repeat: no-repeat;
}
.detail h4{
	font-size: 18px;
	padding-left: 10px;
padding-top: 8px;
font-family: "OpenSans-Regular";
font-weight: bold;
}
.detail h2{
	font-size: 12px;
	
	margin-left: 48px;
margin-top: -16px;
font-weight: bolder;
}
.detail>div>.img{
	margin-left: 26px;

}
.detail>div>.im{
	float: right;
margin-top: -12px;
margin-right: 10px;
}
.label {
	float: right;
	margin-top: -40px;
    margin-right:8px;
}


/*****************/
.subcategories , .detail, .menu-back {display:none;}
.menu-back {}
/*********************************** for subcategory contain main category******************************************/
div.col-md-12.selected-category {
height: 87px;
border-left: 33px solid #dc5629;
margin-top: 65px;
box-shadow: 1px 1px 1px #888888;
}
div.sub-category-list {
padding-top: 1px;
height: 100%;
position: relative;
white-space: nowrap;
overflow-y: scroll;
overflow-x: hidden;
-webkit-overflow-scrolling: touch;
}


/**********************************************detail page**********************************************************/
div.detail {
margin-top: 65px;
padding-top: 1px;
height: 100%;
position: relative;
white-space: nowrap;
overflow-y: scroll;
overflow-x: hidden;
-webkit-overflow-scrolling: touch;
}
