 h1,h2,h3,h4{
   	font-size: 0px;
   	padding: 0px;
   	margin: 0px;
   }
   @font-face {
   font-family: "OpenSans-Bold";
   src: url("../fonts/open-sans/OpenSans-Bold.ttf");
  
    font-family: "OpenSans-Regular";
   src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}
 .bar{
	height: 50px;

	background-color: #14a88b;
overflow-x: hidden;
overflow-y:hidden; 
	}
 .bar >#list{

	height: 50px;
	padding:0px;
	background-color: #14a89b;
	color: white;
}
.bar>#navi{

	height: 51px;
	background-color: #009274;

}
 .bar >#call{

	background-color: #008067;
	height: 50px;
}
.bar >#mes{

	height: 50px;
	background-color: #006f5a;
}
.yard-detail img{
	margin-top: 14px;
    text-align:center;
}
.yard-detail > body{
	margin: 0px;
	overflow: hidden;
}
.yard-detail> h2{
	font-size: 15px;
	padding-left: 8px;
	padding-top: 5px;
	 color: #fff;
	 margin-bottom: 2px;
}
.yard-detail >div>.im{
	margin-top: 5px;
	margin-right: 5px;
}
.yard-detail  .label {
	float: right;
	float: right;
background-color: green;
font-size: 12px;
/* border-radius: 1px; */
margin-right: 10px;
margin-top: 5px;
border-radius: .25em;
padding: .25em .6em;
font-size: 75%;
font-weight: 500;
line-height: 1;
display: inline;
}


.yard-detail>div#googleMap{
min-height: 81px;
margin-top: 65px;
border-bottom: solid 1px black;
	
}

.yard-detail>div>.img{
	margin-left: 12px;

}
.yard-detail>div>.im{
	float: right;
margin-top: 5px;
margin-right: 10px;
}


div.yard-detail {
background-color: ghostwhite;
height:100%;
}

.bar>#list>h2 {
font-size: 13px;
margin-left:8px;
margin-top:8px;
font-weight: bolder;
text-align:left;
}
img.im {
margin-top: -2px;
padding-right: 8px;
text-align:left;
margin-left:10px;
}
h1 {
font-size: 14px;
margin-top: -16px;
margin-left: 36px;
}
div.yard{
height: 90px;

}